<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>PAUL L. YEOH (he/him) has a Ph.D. in Literatures in English from Rutgers University, where he specialized in Romantic and Victorian literature. When not writing, he works for an educational publishing company and teaches part-time at the University of Nebraska. Although based in the United States, Paul grew up in Southeast Asia and maintains close ties with the region through family</p>
      </div>
      <div class="col-lg-4">
        <p>and friends in Singapore and Malaysia. He identifies as Chindian, a portmanteau term that acknowledges his Chinese and Indian parentage. Paul lives with his husband Dario in
Omaha, NE, and is currently completing his first novel, a queer romantasy inspired by European and Southeast Asian folklore.</p>
      </div>
    </div>
  </div>
</section>
