<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>PAUL YEOH (he/him) holds a Ph.D. in Literatures in English from Rutgers University, where he specialized in Romantic and Victorian literature. He works for an educational nonprofit and teaches part-time at the University of Nebraska. Originally from Singapore and Malaysia, Paul now lives in Omaha, NE, with his husband, Dario, maintaining close ties with family and friends</p>
      </div>
      <div class="col-lg-4">
        <p>in Southeast Asia. He identifies as Chindian—a portmanteau word that honors his Chinese and Indian heritage. Paul recently completed and is currently seeking representation for his debut novel, <em>Treasure of Talpin</em>—a queer fantasy about a returning hero, his lover, and the magical secret that upends both their relationship and community. 
</p>
      </div>
    </div>
  </div>
</section>
